div.navigation-menu {
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	position: absolute;
	top: 60px;
	right: 8px;
	color: #ffffff;
}

a.menu {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-right: 3rem;
	font-size: 14px;
}

a.menu:hover {
	color: orange;
}

a.menu:focus {
	color: orange;
}

p.portada {
	position: absolute;
	top: 165px;
	left: 650px;
	text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    border-bottom: 2px solid;
    padding: 12px; 
}

h1 {
	color: #ffffff;
	font-size: 70px;
	position: absolute;
	top: 222px;
	left: 400px;
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 2px;
}

p.portada-subtitulo {
	position: absolute;
	top: 340px;
	left: 580px;
	text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: orange; 
}

a.button {
	text-decoration: none;
	position: absolute;
	top:450px;
	left: 610px;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	padding-right: 3rem;
	text-transform: uppercase;
	border: 2px solid;
    padding: 12px 20px;
    border-radius: 5px;
}

a.button:hover {
    color: rgb(255, 255, 255);
    font-size: larger;
    border-radius: #fff;
    border: transparent;
}

h2.text-subtitle {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	text-align: center;
	color: #434343;
	font-size: 22px;
	line-height: 3rem;
	margin: 50px 50px;
	padding-left: 25rem;
    padding-right: 25rem;
}

section.theme--purple {
    position: absolute;
    height: 100vh;
    background: rgba(32, 0, 128, 0.2);
    top: 0;
    width: 100%;
}

p.text-container {
	font-family: 'Roboto', serif;
	font-size: 14px;
}

.header-section {
    height: 100vh;
    background: url(../img/imagen2.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}

p.text-colum-left {
    padding-left: 120px;
    padding-right: 30px;
    text-align: justify;
}

p.text-colum-right {
    padding-left: 30px;
    padding-right: 120px;
    text-align: justify;
}

.linkarticles-section {
    height: 80vh;
    background: url('../img/imagen3.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: 50px;
}

img.img-portada {
	height: 300px;
	padding-top: 20px;
	padding-left: 120px;
	padding-right: 30px;
}

img.img-portada-right {
	height: 300px;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 120px;
}

p.text-simple {
    padding-left: 120px;
    padding-right: 120px;
    text-align: justify;
}

.navbar-default {
    background-color: rgba(255,255,255,.00);
    border-color: rgba(231, 231, 231, 0);
}

.navbar-default .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px; 
    margin-top: 10px;
}

.navbar-default .navbar-brand:hover {
	color: orange;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: orange;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
    margin-top: 24px;
}

video.video-portada {
    margin-left: 120px;
    width: 426px;
    height: 285px;
}

p.footer-subtittle {
    font-style: bold;
    font-weight: bold;
    text-transform: uppercase;
    height: -33px;
    text-align: center;
    margin-top: 32px;
    text-decoration: underline;
}

a.footer-link {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    color: #434343;
    font-size: 22px;
    text-decoration: none;
    margin-top: 10px;
}

a.footer-link:hover {
    color: orange;
}
